In [1]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra

In [19]:
data = pd.read_csv('../datasets/unemployment.csv')
#data.head(50)

# keep: district code, district name, gender, demand_occupation, number

In [3]:
data.info() # non-null data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14208 entries, 0 to 14207
Data columns (total 9 columns):
Year                 14208 non-null int64
Month                14208 non-null object
District Code        14208 non-null int64
District Name        14208 non-null object
Neighborhood Code    14208 non-null int64
Neighborhood Name    14208 non-null object
Gender               14208 non-null object
Demand_occupation    14208 non-null object
Number               14208 non-null int64
dtypes: int64(4), object(5)
memory usage: 999.1+ KB

In [4]:
data.columns

Index(['Year', 'Month', 'District Code', 'District Name', 'Neighborhood Code',
       'Neighborhood Name', 'Gender', 'Demand_occupation', 'Number'],
      dtype='object')

In [5]:
#filtered = data[['Year', 'Month', 'District Code', 'District Name', 'Gender', 'Demand_occupation', 'Number']]

In [6]:
#filtered by year 2017

In [20]:
filtered = data.loc[data['Year'] == 2017, 
                    ['Year', 'Month', 'District Code', 'District Name', 'Gender', 'Demand_occupation', 'Number']]

In [9]:
#filtered by demand_occupation

In [21]:
filtered = filtered.loc[filtered['Demand_occupation'] == 'Registered unemployed', 
                    ['Year', 'Month', 'District Code', 'District Name', 'Gender', 'Demand_occupation', 'Number']]

In [ ]:
#aggregated registered number of unemployed-female and male

In [23]:
aggregated = filtered.groupby(by=
                              ['Year','District Name','District Code', 'Demand_occupation'], 
                              as_index =False ).agg({'Number':np.sum})

#aggregated.head()

   Year   District Name  District Code      Demand_occupation  Number
0  2017    Ciutat Vella              1  Registered unemployed   80119
1  2017        Eixample              2  Registered unemployed  120935
2  2017          Gràcia              6  Registered unemployed   58127
3  2017  Horta-Guinardó              7  Registered unemployed   97353
4  2017       Les Corts              4  Registered unemployed   34529

In [24]:
#aggregated.shape

In [ ]:
# renamed column Number to Reg_unemployed 2017

In [14]:
unemployed = aggregated.rename(columns={"Number" : "Reg_unemployed 2017"})

In [ ]:
# columns sorted in unemployed

In [15]:
unemployed = unemployed[['District Name','District Code','Reg_unemployed 2017']]

In [25]:
# dropped rows with distict value 99

In [26]:
unemployed_final = unemployed.set_index('District Code')
unemployed_final = unemployed_final.drop(99, axis=0)

In [27]:
# unemployed final table

In [28]:
unemployed_final = unemployed_final.sort_index()
unemployed_final

                     District Name  Reg_unemployed 2017
District Code
1                     Ciutat Vella                80119
2                         Eixample               120935
3                   Sants-Montjuïc               107560
4                        Les Corts                34529
5              Sarrià-Sant Gervasi                42525
6                           Gràcia                58127
7                   Horta-Guinardó                97353
8                       Nou Barris               122721
9                      Sant Andreu                89952
10                      Sant Martí               143987